
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script>
  $(window).on('load',function() {
    $('#loading').css('display', 'none');
  });
  </script>
</body>
<footer>
  <div class="footer-padding">
  <div class="footer">
    <a href="/subscribe">👉Subscribe To The Newsletter📧</a>
    <p>©Copyright 2020 | <b>Abdur Rahman</b></p>
  </div>
  </div>
</footer>
</html>