<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Blogora is a social media website where anyone can read/write posts" />
  <meta name="image" property="og:image" content="/icon.png">
  <meta name="author" content="Abdur Rahman">
  <title>Blogora</title>
  <link rel="icon" href="icon.png">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Font Awesome -->
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <script src="https://kit.fontawesome.com/463da2e69d.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Kaushan+Script&family=Kaushan+Script&display=swap&display=swap&family=Ubuntu&family=Architects+Daughter&display=swap&display=swap" >

</head>

<body>
  <div id="loading" style="background-color:  #04a786;">
    <h1 class="animatedLoader navbar-brand" >Blogora</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-default">
    <div class="container">
      <a class="navbar-brand" href="/">Blogora</a>
      <button style="color: transparent;background-color: transparent;border-color: transparent;" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span><i class="navbarFa fa fa-bars" aria-hidden="true"></i></span>
      </button>

      <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav ml-auto">
        <!-- 6 -->
        <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
        <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT ME</a></li>
        <li class="nav-item" id="compose"><abbr style="border: none; text-decoration: none;" title="Subscribe to my newsletter"><a class="nav-link" href="/subscribe">SUBSCRIBE</i></a></abbr> </li>
      </ul>
      </div>
    </div>
  </nav>

  <div class="icon-bar">
    <a class="linkedin" href="https://www.linkedin.com/in/abdur-rahman-0b84341a0/"><em><i class=" fab fa-linkedin"></i></em></a> 
    <a class="twitter" href="https://www.twitter.com/abdur_94786?s=09"><em><i class=" fab fa-twitter"></i></em></a>
    <a class="google" href="mailto:abdur75648@gmail,com"><em><i class=" fab fa-google"></i></em></a>
    <a class="facebook" href="https://www.facebook.com/profile.php?id=100047711418726"><em><i class=" fab fa-facebook-f"></i></em></a>
    <a class="instagram" href="https://www.instagram.com/abdur2.0/?hl=en"><em><i class=" fab fa-instagram"></i></em></a>
    <a class="github" href="https://github.com/abdur75648"><em><i class=" fa fa-github"></i> </em></a></p>
  </div>

  <div class="container">