<%- include("partials/header.ejs") %> 

<div class="mainPost">
    <div>
        <img style="border-radius: 50%;padding: 5px; width: 20%" src="photo.jpeg" alt="Abdurs' Photo">
    </div>
<h1>About Me</h1>
<p class="introPara"> Hi! I'm Abdur Rahman, a sophomore at IIT Delhi. I love Programming & Developement. I've done Full-stack web-development.</p>
<p class="introPara"> You can connect with me on different social media using any of the icons given on the left side.</p>
<p class="introPara"> This webapp "Blogora" was made by me so that people can exchange their thoughts & ideas.</p>
<p class="introPara"> Since this is my first full-stack web-development project, all the improvements & suggestions regarding this are welcomed. </p>
<p class="introPara"> Enjoy writing posts & reading other's posts. Cheers!</p>
</div>
<%- include("partials/footer.ejs") %> 