<%- include("partials/header.ejs") %> 

<div class="mainPost">
    <div>
        <img style="border-radius: 50%;padding: 5px; width: 20%" src="icon.png" alt="Blogora">
    </div>
<h1>About</h1>
<p class="introPara"><i>Blogora</i> is a social media website based on Node.js.</p>
<p class="introPara">Here, people can read/write posts and sign up for receiving the newsletter.</p>
<p class="introPara">It uses MongoDB as a cloud database to store all the data as documents.</p>
<p class="introPara">It is connected to mailchimp API for managing the audience for the newsletter.</p>
<p class="introPara">It uses Auth0 Authentication API along with OpenID Connect Protocol for user authentication.</p>
<p class="introPara">Still there is a lot of scope of improvement. And, all the suggestions regarding this are welcomed. </p>
<hr>
<p class="introPara"><b><i><u>Developer's Message:</u></i></b></p>
<p class="introPara">Hi! I'm Abdur Rahman, an IIT Delhi student and a tech-enthusiast.</p>
<p class="introPara">You can connect with me using any of the icons given on the left side.</p>
<p class="introPara"><i>Blogora</i> was conceptualised and developed by me in summer, 2020.</p>
<p class="introPara">Enjoy writing posts & reading other's posts. Cheers!</p>
</div>
<%- include("partials/footer.ejs") %> 