<%- include("partials/header.ejs") %>
<div class="mainPost">

    <div style = "text-align: center; margin: 100px auto; ">
        <div style="background-color:   #00ff0d;">
          <h1 style="color: black;">You're already registered!</h1>
          <button style="font-size: 2rem;" class="btn btn-lg btn-success"><a href="/">Finish</a></button>
        </div>      
      </div>
    
</div>
<%- include("partials/footer.ejs") %>