<%- include("partials/header.ejs") %> 

<h1>Compose</h1>
<form action="/compose" method="POST">
    <label>Your Name :</label>
    <input type="text" name = "postWriter" placeholder="Enter your name" autofocus required> <br>
    <label>Title :</label>
    <input type="text" name = "postTitle" placeholder="Title for the post" required> <br>
    <label>Post :</label>
    <textarea name= "postBody" placeholder="Write your post here." required></textarea> <br>
    <button class="btn btn-lg btn-primary">Publish</button>
</form>

<%- include("partials/footer.ejs") %> 