<%- include("partials/header.ejs") %>
<div class="mainPost">

    <div style = "text-align: center; margin: 100px auto; ">
        <div style="background-color:  #ff8080;">
          <h1 style="color: black;">Oops!</h1>      
          <p style="color: black;">There was an error while signing up.</p>
          <button  class="btn btn-lg btn-warning"><a href="/subscribe">Try Again</a></button>
        </div>      
      </div>
    
</div>
<%- include("partials/footer.ejs") %>